@media (max-width: 850px) {
    h1 {
      font-size: 44px;
      margin-bottom: 25px;
    }
  
    h2 {
      font-size: 34px;
    }
  
    /* HEADER */
  
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 14vh;
    }
  
    nav ul {
      display: none;
    }
    
    .wall-e {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: unset;
    }
  
    .wall-e ul {
      flex-direction: column;
    }
  
    .wall-e ul li {
      margin-bottom: 26px;
    }
  
    header nav a {
      background-color: var(--menu-btn-color);
      padding: 9px;
    }
  
    header nav {
      padding: 18px 12px;
    }
  
    .menu-btn {
      background-color: var(--menu-btn-color);
      border: none;
      display: flex;
    }
  
    .menu-btn img {
      width: 40px;
    }
  
    /* EVE SECTION */
  
    .section-eve {
      height: auto;
      padding: 35px 19px;
    }
  
    .section-eve h2 {
      margin-bottom: 25px;
    }
  
    .eve-content {
      display: flex;
      flex-direction: column-reverse;
      width: auto;
    }
  
    .eve-content img{
      width: 100%;
      margin-top: 45px;
    }
  
    .eve-description {
      margin-left: 0;
    }
  
    /* MC CREA SECTION */
    .mccrea-section {
      height: auto;
      background: white;
    }
  
    .mccrea-section article {
      border: none;
      width: 100%;
      height: auto;
      box-shadow: none;
    }
  
    /* Footer */
    form {
      width: 90vw;
    }
}