/* Variables */
:root {
    --blue: #2C9ED7;
    --gray: #424242;
    --lightgray: #eaeaea;
    --pink: #C9868E;
    --purple: #483970;
    --orange: #C26C5C;
    --btn-color: #1E3581;
    --menu-btn-color: #344892;
  }
  
  /* Styles */
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  /* SÃ©lecteurs */
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    padding: 70px 0 30px 0;
  }
  
  footer h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
  }
  
  input {
    height: 60px;
  }
  
  textarea {
    padding-top: 21px;
  }
  
  input, textarea {
    background-color: var(--lightgray);
    border-radius: 6px;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 33px;
  }
  
  ::placeholder {
    color: #828282;
    font-size: 20px;
  }
  
  h1 {
    color: white;
    font-size: 110px;
  }
  
  h2 {
    color: var(--gray);
    font-size: 96px;
    text-align: center;
  }
  
  h3 {
    color: var(--blue);
    font-size: 36px;
  }
  
  h4 {
    color: white;
    font-size: 48px;
    text-align: center;
  }
  
  h1, h2, h4 {
    text-transform: uppercase;
  }
  
  header {
    background-image: url(img/img-homebg-ordi.png);
    background-size: cover;
    height: 100vh;
  }